@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    // border: 1px solid blue;
}

button{
    cursor: pointer;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


@media(max-width:500px){
    .header, main, .footer{
        display: none;
    }


}
@media(min-width:500px){
    .mobile{
        display: none;
    }
}

.h1_wrapper h1{
        font-size: 22px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: black;
    width: 100%;
}

.h1_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.h1_wrapper .red{
    color: orange;
}

.h1_wrapper .yellow{
    color: green;
}

.h1_wrapper .green{
    color: purple;
}

.h1_wrapper .purple{
    color: greenyellow;
}

.h1_wrapper .red{
    color: red;
}